@layer primeng {
    .p-button {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
        font-size: var(--dnv-font-button-l);
        padding: 0.571rem 1.143rem;
        border-radius: 10px;
        background: var(--primary-500);
        border: none;
        color: #ffffff;
        line-height: 20px;
        letter-spacing: 0;
        transition: background-color 0.2s;

        &:enabled:hover {
            background: var(--primary-600);
            border: none;
        }

        &:enabled:active {
            background: var(--primary-700);
            border: none;
        }

        &:enabled:focus {
            box-shadow: none;
        }

        .p-button-label {
            font-weight: 700;
        }

        &.p-button-outlined {
                background: transparent;
                color: var(--primary-500);
                border: 2px solid var(--primary-500);
                box-shadow: none;
                font-weight: 700;
                font-family: 'Nunito Sans', sans-serif;
                transition: background-color 0.2s, color 0.2s, border-color 0.2s;

                &:hover {
                    background: var(--primary-50);
                    color: var(--primary-600);
                    border-color: var(--primary-600);
                }
                &:active {
                    background: var(--primary-100);
                    color: var(--primary-700);
                    border-color: var(--primary-700);
                }
                &:focus {
                    box-shadow: none;
                    outline: none;
                }
                &:disabled {
                    color: #707070;
                    border-color: #e6e6e5;
                    background: transparent;
                }
        }

        &.p-button-text {
            background-color: transparent;
            color: var(--primary-500);
            border: none;
        }
    }
    p-table{
            display: grid
;
    gap: calc(var(--dnv-gutter-base-unitless) * 3 / var(--dnv-font-base-unitless) * 1rem);
    .p-datatable-table-container{
              border-radius: 10px;
            box-shadow: 0px 1px 3px 0px rgba(15, 32, 75, 0.25);
        .p-datatable-thead{
            background-color: #f3f2f2;
            .p-datatable-frozen-column{
                width: 0;
                box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
            }
            th{
                span{
                    margin-left: calc(7 / var(--dnv-font-base-unitless) * 1rem);
                    font-weight: 700;
                }
            }
        }
        .p-datatable-tbody{
            // background-color: #f3f2f2;
            .p-datatable-frozen-column{
                width: 0;
                box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
            }
        }
    }
    p-paginator{
         .p-paginator-current{
            background-color: transparent;
    border: 0 none;
    color: #4f4d4a;
    min-width: 2.725rem;
    height: 2.725rem;
    margin: 0.143rem;
        }
        .p-paginator-first {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    margin-left: auto;
}
.p-paginator-last {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-right: auto;
}
    }
    }
    
}
