@layer primeng {
    .p-button {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
        font-size: var(--dnv-font-button-l);
        padding: 0.571rem 1.143rem;
        border-radius: 10px;
        background: var(--primary-500);
        border: none;
        color: #ffffff;
        line-height: 20px;
        letter-spacing: 0;
        transition: background-color 0.2s;

        &:enabled:hover {
            background: var(--primary-600);
            border: none;
        }

        &:enabled:active {
            background: var(--primary-700);
            border: none;
        }

        &:enabled:focus {
            box-shadow: none;
        }

        .p-button-label {
            font-weight: 700;
        }

        &.p-button-outlined {
                background: transparent;
                color: var(--primary-500);
                border: 2px solid var(--primary-500);
                box-shadow: none;
                font-weight: 700;
                font-family: 'Nunito Sans', sans-serif;
                transition: background-color 0.2s, color 0.2s, border-color 0.2s;

                &:hover {
                    background: var(--primary-50);
                    color: var(--primary-600);
                    border-color: var(--primary-600);
                }
                &:active {
                    background: var(--primary-100);
                    color: var(--primary-700);
                    border-color: var(--primary-700);
                }
                &:focus {
                    box-shadow: none;
                    outline: none;
                }
                &:disabled {
                    color: #707070;
                    border-color: #e6e6e5;
                    background: transparent;
                }
        }

        &.p-button-text {
            background-color: transparent;
            color: var(--primary-500);
            border: none;
        }
    }
}
