<aside role="complementary" aria-label="Sidebar" class="dnv-sidenav">
  <div class="logo">
    <img alt="DNV logo" src="/assets/logos/dnv-logo.svg" />
  </div>
  <nav role="navigation" aria-label="Aside navigation">
    <div class="grouping">
      <p-button styleClass="nav-button" ariaCurrentWhenActive="page" icon="pi pi-home" label="Overview" [text]="true" [routerLink]="['/']" routerLinkActive="is-active"></p-button>
      <p-button styleClass="nav-button" icon="pi pi-file" label="Contracts" [text]="true" [routerLink]="['/contracts']" routerLinkActive="is-active"></p-button>
      <p-button styleClass="nav-button" icon="pi pi-calendar" label="Schedule" [text]="true" [routerLink]="['/schedule']" routerLinkActive="is-active"></p-button>
      <p-button styleClass="nav-button" icon="pi pi-briefcase" label="Audits" [text]="true" [routerLink]="['/audits']" routerLinkActive="is-active"></p-button>
      <p-button styleClass="nav-button" icon="pi pi-search" label="Findings" [text]="true" [routerLink]="['/findings']" routerLinkActive="is-active"></p-button>
      <p-button styleClass="nav-button" icon="pi pi-wallet" label="Financials" [text]="true" [routerLink]="['/financials']" routerLinkActive="is-active"></p-button>
      <p-button styleClass="nav-button" icon="pi pi-file-pdf" label="Certificates" [text]="true" [routerLink]="['/certificates']" routerLinkActive="is-active"></p-button>
      <p-button styleClass="nav-button" icon="pi pi-book" label="Trainings" [text]="true" [routerLink]="['/trainings']" routerLinkActive="is-active"></p-button>
      <p-button styleClass="nav-button" icon="pi pi-th-large" label="More apps" [text]="true" [routerLink]="['/apps']" routerLinkActive="is-active"></p-button>
    </div>
  </nav>
</aside>
